<a href="https://colab.research.google.com/github/Bahaakhalled/TSF-Tasks/blob/main/AssignmentOne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
data_path='https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv'
data=pd.read_csv(data_path)
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [ ]:
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [ ]:
X=data['Hours'].values
y=data['Scores'].values

In [ ]:
train_X,val_X,train_y,val_y=train_test_split(X,y,test_size=0.2)

In [ ]:
model=LinearRegression()

In [ ]:
train_X=train_X.reshape(-1,1)
train_y=train_y.reshape(-1,1)
val_X=val_X.reshape(-1,1)
val_y=val_y.reshape(-1,1)

In [ ]:
model.fit(train_X,train_y)

LinearRegression()

In [ ]:
model.predict(val_X)

array([[69.80394019],
       [83.51726342],
       [26.70492432],
       [16.90969344],
       [20.82778579]])

In [ ]:
val=np.empty(shape=2)
val[0]=9.25
val=val.reshape(-1,1)

In [ ]:
ans=model.predict(val)

In [ ]:
print(ans[0])

[92.82273275]